* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Share Tech Mono", "Michroma", "Orbitron", "Roboto", "Exo 2", monospace, sans-serif;
    background: #1F2937;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
}

img {
    width: 5.5rem;
    height: 5.2rem;
    /* border-radius: 50%; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7b1f249;
    padding: 0 10px;
}

.nav .title {
    font-family: "Bangers", system-ui;
    font-size: 50px;
    display: flex;
}

.nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.slogan {
    font-family: "Atma", system-ui;
    text-align: center;
    color: #00FFFF;
}

main {
    height: 470px;
}

.time {
    margin-left: 550px;
}

.timer {
    background: white;
    border: 1px solid #1F2937;
    height: 45px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.questions {
    font-family: "Michroma";
    font-size: 15px;
    text-align: center;
    margin: 3rem auto;
    width: 60vw;
    padding: 2rem;
    background: #F9FAFB;
    cursor: pointer;
    border-radius: none;
}


#question {
    margin-bottom: 1rem;
}


.option {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    border-bottom: solid 0.1rem rgb(9, 9, 10);
    width: 25rem;
    background: lightblue;
    border-radius: 1rem;
    justify-content: center;
    font-family: "Exo 2";
}

.option:hover {
    color: black;
    background: rgb(118, 222, 245);
}

ol {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 1.5rem;
    color: rgb(1, 73, 73);
}

span {
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}

#answer {
    margin-top: 2.5rem;
}

#stat {
    margin-top: 1rem;
    color: rgb(6, 17, 168);
}

.buttons {
    text-align: center;
}

button {
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: #60A5FA;
    background: white;
    font-family: "Atma", system-ui;
}

button:hover {
    background: #00FFFF;
    color: black;
}

button:active {
    background: rgb(130, 130, 231);
}

#scoreboard,
#answerBank {
    width: 20rem;
    background: rgba(230, 230, 250, 0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 1rem;
    display: none;
    border-radius: 1.5rem;
    font-family: "Roboto";

}

#score-title {
    margin: 1rem 0;
    font-family: "Share Tech Mono";
    font-size: 50px;
    font-weight: 500;

}

#score-btn,
#check-answer {
    margin-top: 1rem;
    font-family: "Atma", system-ui;
    border-radius: 0;
}

#score {
    font-size: 2.5rem;
}

#answerBank li {
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}

#answers {
    margin-top: 1rem;
}

/* footer {
    background-color: #b7b1f249;
    font-family: "Patrick Hand", cursive;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
} */


